html,
body {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: #DAD2D8;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    margin: 10px;
    color: #143642;
    font-size: 35px;
    overflow: hidden
}

.choices{
    text-align: center;
    gap: 2px;

}

.dropdown{
    font-size: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.player1,
.player2{
    font-size: 50px;}

select{
    display: inline;
    width: auto;
    height: auto;
    font-size: 25px;
}

.gameboard {
    background-color: #DAD2D8;
    height: 80vw;
    width: 80vw;
    max-width: 700px;
    max-height: 700px;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    gap: 2px;
    padding: 2px;
    background-color: #143642;
    display: none;
}

span {
    display: none;
    background-color: #DAD2D8;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.result {
    text-align: center;
    font-size: 45px;
    height: 120px;
    width: 100vw;
    padding: 20px;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    border:none;
    border-radius: 2px;
    font-size: 20px;
    color: #143642;
    padding: 10px;
    margin-bottom: 20px;
}

button:active{
    cursor: pointer;
    background-color: yellow;
}

.footer{
    height:20px;
}